<div class="col-md-6">
  <h1>Edit User</h1>
  <hr>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@user.errors.count, "error") %> prohibited this blog from being saved:</h4>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email %>
      <%= f.object.email %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :fullname %>
      <%= f.text_field :fullname, class: 'form-control' %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <hr>
    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-primary' %>
      <%= link_to "Cancel", '/blogs', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>