<div class="col-md-6">
  <h1>Sign up</h1>
  <hr>

  <%= form_for(@user) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@user.errors.count, "error") %> prohibited this blog from being saved:</h4>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :fullname %>
      <%= f.text_field :fullname, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <hr>
    <div class="actions">
      <%= f.submit "Submit", class: 'btn btn-primary' %>
      <%= link_to "Sign In", '/users/sign_in', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>


