<h1>
  View User Profile
  <small class="pull-right">
		<% if @user == @current_user %>
			<%= link_to 'Edit', "/users/#{@current_user.id}/edit", class: 'btn btn-sm btn-primary' %>
		<% end %>
		<%= link_to 'Back', :back, class: 'btn btn-sm btn-primary' %>
  </small>
</h1>
<hr>


<% if @user.present? %>
	<p class="col-md-12"> FullName : <b><%= @user.fullname %> </b></p>
	<p class="col-md-12"> Email  : <b><%= @user.email %> </b></p>
	<p class="col-md-12"> Username : <b><%= @user.username %> </b></p>
	<div class="clearfix"></div>
<% end %>