<div class="col-md-6">
  <h2>Sign In</h2>
  <hr>
  <%= form_tag '/users/sign_in', method: 'post' do %>
    <div class="form-group">
      <label for="email">Email:</label>
      <%= email_field_tag :email, '', class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <%= password_field_tag :password, '', class: 'form-control' %>
    </div>
    <hr>
    <div class="actions">
      <%= submit_tag "Sign In", class: 'btn btn-primary' %>
      <%= link_to "Sign Up", '/users/new', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>