<h2>Welcome to Engine Demo</h2>
<hr>
<% if @current_user.present? %>
	<p class="col-md-4"> FullName : <b><%= @current_user.fullname %> </b></p>
	<p class="col-md-4"> Email  : <b><%= @current_user.email %> </b></p>
	<p class="col-md-4">Username : <b><%= @current_user.username %> </b></p>	
<% end %>