<!DOCTYPE html>
<html>
	<head>
  		<title>Authentication engine</title>
  		<%= stylesheet_link_tag    "authentication_engine/application", media: "all" %>
  		<%= javascript_include_tag "authentication_engine/application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body cz-shortcut-listen="true">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Engine Demo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>	
    <div class="container">
 			<% flash.each do |name, msg| %>
    		<%= content_tag :div, msg, class: "alert alert-info" %>
  		<% end %>
      <br/>
      <div class="pull-left">
        <% if @current_user.present? %>
          <%= link_to 'Logout', sign_out_users_path, method: :delete, data: {confirm: 'Are you sure want to logout?'}, class: 'btn btn-danger' %>
          <%= link_to 'Blogs', '/blogs', class: 'btn btn-primary' %>
        <% else %>
          <%= link_to 'Sign In', sign_in_users_path, data: {disable_with: 'Loading...'}, class: 'btn btn-primary' %>
          <%= link_to 'Sign Up', new_user_path, data: {disable_with: 'Loading...'}, class: 'btn btn-primary' %>
        <% end %>      
      </div>
      <div class="clearfix"></div>
      <hr>
			<%= yield %>
		</div>
	</body>
</html>
